<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.bjpowernode.mulitdatasources.service.impl"/>


    <!--加入数据源-->
    <bean name="dataSources3307" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="jdbc:mysql://192.168.169.128:3307/test_mysql"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <bean name="dataSources3308" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="jdbc:mysql://192.168.169.128:3308/test_mysql"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <bean name="dataSources3309" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.169.128:3309/test_mysql"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <bean name="dataSources3310" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.169.128:3310/test_mysql"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <!--==============================================================================-->

    <!--配置连接工厂-->
    <bean name="sessionFactory3307" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSources3307"/>
    </bean>
    <bean name="sessionFactory3308" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSources3308"/>
    </bean>
    <bean name="sessionFactory3309" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSources3309"/>
    </bean>
    <bean name="sessionFactory3310" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSources3310"/>
    </bean>
    <!--==============================================================================-->

    <!--mapper的扫描注解-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sessionFactory3307"/>
        <property name="basePackage" value="com.bjpowernode.mulitdatasources.mapper3307"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sessionFactory3308"/>
        <property name="basePackage" value="com.bjpowernode.mulitdatasources.mapper3308"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sessionFactory3309"/>
        <property name="basePackage" value="com.bjpowernode.mulitdatasources.mapper3309"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sessionFactory3310"/>
        <property name="basePackage" value="com.bjpowernode.mulitdatasources.mapper3310"/>
    </bean>
    <!--==============================================================================-->

</beans>
